body {
  color: white;
  /*background-color: #333;*/
  background-color: #1B1B1B;
  width: 960px;
  margin: auto;
  font-family: sans-serif;
}

label {
  color: #B0AEAE;
}

input {
  background-color: #292A2E;
  color: #B0AEAE;
  border: none;
  padding: 7px;
}
input.form-control,input.form-control:focus,button.form-control,button.form-control:focus,select.form-control,select.form-control:focus {
    border:none;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}
input:focus,button:focus,select:focus {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
select {
  background-color: #292A2E;
  border: none;
}

button {
  /*background-color: #333;*/
  background-color: #1B1B1B;
  color: #B0AEAE;
  border: none;
}

button:hover {
  color: white;
}

button:active {
  position: relative;
  top: 1px;
}

a, p {
  color: #57CBDE;
}

.avatar  {
  border: 2px solid #57CBDE;
}

.onlineState0 a, .onlineState0 p {
  color: #898989;
}

.onlineState0 img {
  border: 2px solid #898989;
}

/*.onlineState1,.onlineState3 a {
  color: #57CBDE;
}*/

.ownerFraction {
  /*width: 50px;*/
  margin-left: 5px;
  font-size: 30px;
}

.gameInfo {
  width: 460px;
  padding: 10px;
  background-color: #292A2E;
}

.metaScore {
  position: relative;
  left: 100px;
}
.owner {
  color: white;
}
.nonOwner {
  color: grey;
  text-decoration: line-through;
}

.glyphicon {
  margin-right: 5px;
}

.fa {
  margin-right: 5px;
}
